<!DOCTYPE html>
<html>
<head>
  <title>Quienmanda</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="layout_top">
		<div class="top_left">
			<h1><a href="/">QM</a></h1>
		</div>
		<div class="top_center">
			<ul class="nav">
				<% if (controller.controller_name=='welcome') %>
					<li id="nav_selected"><%= link_to 'Portada', root_path %></li>
				<% else %>
					<li id="nav"><%= link_to 'Portada', root_path %></li>
				<% end %>

				<% if (controller.controller_name=='photos') %>
					<li id="nav_selected"><%= link_to 'Fotos', photos_path %></li>
				<% else %>
					<li id="nav"><%= link_to 'Fotos', photos_path %></li>
				<% end %>
				<% if (controller.controller_name=='people') %>
					<li id="nav_selected"><%= link_to 'Personas', people_path %></li>
				<% else %>
					<li id="nav"><%= link_to 'Personas', people_path %></li>
				<% end %>
				<li id="nav">Entidades</li>
			</ul>
		</div>

	<div class="top_right">
		<div class="up">
		  <% if user_signed_in? %>
				<%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}.png?s=30" %>
				<%= current_user.email %><br />
				Not you?
		    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
		  <% else %>
		    <%= link_to "Sign up", new_user_registration_path %> or
		    <%= link_to "Sign in", new_user_session_path %>
		  <% end %>
		</div>
		<div class="down">
			<%= form_tag("/search", :method => "get") do %>
        <%= text_field_tag 'buscar', 'Buscar', :class => "search_inputText" %>
        <%= submit_tag "Buscar", :class => "button" %>
      <% end %>
		</div>
	</div>
  <h3><%= link_to 'Quien Manda', root_path %></h3>
  <h3><%= link_to 'Admin Interface', rails_admin_path %></h3>

  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<div class="main">
  	<%= yield %>
	</div>

	<div class="layout_bottom">
		<ul>
			<li class="elto"><%= link_to 'Portada', root_path %></li>
			<li class="elto">Artículos</li>
			<li class="elto"><%= link_to 'Fotos', photos_path %></li>
			<li class="elto"><%= link_to 'Personas', people_path %></li>						
			<li class="elto">Entidades</li>						
		</ul>
		<ul>
			<li class="elto">Quiénes Somos</li>
			<li class="elto">Contacto</li>
			<li class="elto">Metodología</li>
			<li class="elto">Agradecimientos</li>
			<li class="elto">Términos legales</li>
		</ul>
		<ul>
			<li class="elto">twitter</li>
			<li class="elto">RSS</li>
			<li class="elto">Quien_Manda</li>
			<li class="elto">Quién_Manda</li>
		</ul>
		<ul>
			<li class="elto">Un proyecto de</li>
			<li class="elto"><%= image_tag "/logo_civio.png", size: "180x70" %></li>
		</ul>
		<ul>
			<li class="elto">Con la ayuda de</li>
			<li class="elto_user">
<%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest("david.cabo@gmail.com")}.png?s=60", :class => 'user' %>
<%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest("david.cabo@gmail.com")}.png?s=60", :class => 'user' %>
<%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest("david.cabo@gmail.com")}.png?s=60", :class => 'user' %></li>
		</ul>
	</div>
</body>
</html>
